
body {
    display: flex; 
    flex-flow: column;
}

header {
    background-color: #ffffff;
    color: #282a6d;
    margin: 1em 1em 0em 1em;
    padding: 3em;
    }

h1 {
        text-align: center;
        margin: auto;
    }

footer {
    grid-column: 1/2;
    background-color: #ffffff;
    color: #282a6d;
    margin: 1em 1em 0em 1em;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #58595b;
    text-align: center;
}
nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5em ;
    margin: auto;
    padding: 0.5em;
}

nav a:hover {
    background-color: #58595b;
    color: #282a6d;
}

nav li {
    list-style-type: none;
    display: inline;
    margin: auto;
    padding: 0;
}

nav ul {
    margin: 2em;

}

hr {
    width: 95%;
}

.site-name, .site-purpose, .site-logo {
    width: 95%;
    margin: auto;
}

.logo {
    max-width: 10em;
}
p {
    font-size: 1.5em;
}
.max-width {
    max-width: 100%;
}
ul {
    padding: 0;
}