.image-container {
    height: 20em;
    margin: auto;
    margin-bottom: 5em;
    width: 50%;
  }
  
  .image-container img {
    height: 100%;
    width: auto;
    filter: blur(0em);
    transition: filter 0.5s;
  }
  
  .image-container img[data-src] {
    filter: blur(0.5em);
  }
h1 {
    text-align: center;
}