@media only screen and (min-width: 50em) {
    nav button {display: none;}
header  {
    margin: auto;
    justify-content: center;
    
}
#burgerbutton {
    display: none;
}
.socials {
    width: 2em;
    padding: 2em;
}
nav ul {
    display: inline;
}
nav {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2rem;
    margin: 0;
    padding-top: 1.5em;
    margin-left: 1em;
    margin-top: 1em;
}
.logo {
    max-width: 10em;
    max-height: 10em;
    margin-top: 1em;
}
.site-logo {
    
    display: inline;
}
nav ul li a {
    display: inline;
    
    padding: .5rem 1rem;
}

li {
    display: inline;
    margin: auto;
}
nav {
    width: 100%;
    
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.event {
    grid-column: 1/2;
    grid-row: 1/2;
    
}
.weather {
    grid-column: 1/2;
    grid-row: 2/3 ;
    border: solid 1px;
}
.join {
    grid-column: 1/2;
    grid-row: 3/4;
}

.hero {
    grid-column: 2/4;
    grid-row: 1/3;
    
}

.newrelease{
        grid-column:2/4;
        grid-row: 3/4;        
}
.light {
    grid-column:4/5;
    grid-row: 1/4;
    display: block;
}
.light1 {
    margin-left: .5em;
    margin-right: .5em;
    width: auto;
}
.light2 {
    height: 4em;
    margin-left: .5em;
    margin-right: .5em;
    width: auto;
}
.light3 {
    display: block;    
}

.date {
    display: inline;
}

.social1 img, .social2 img {
    max-width: 3em;
}
.copy {
    padding-top: 0.2em;
}
}