@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

#banner {
    text-align: center;
    background-color: yellowgreen;
    padding: 1em;
    display: none;

}
.event, .weather, .join, .hero, .newrelease, .light {
    background-color: #282A6D;
    color: #ffffff;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    background-color: #c1c1c1;
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav {
    width: 100%;
    justify-self: center;
    grid-column: 2/3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 2em;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #282A6D;
    border-top: 1px solid rgba(0,0,0,0.5);
}
.logo-h1 {
    justify-self: center;
    grid-column: 2/3;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2) ;
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul{display: none;}
nav ul.open {display:block;}

#burgerbutton span:nth-child(1) {display: block;}
#burgerbutton span:nth-child(2) {display: none;}

#burgerbutton.open span:nth-child(1) {display: none;}
#burgerbutton.open span:nth-child(2) {display: block;}


.logo {
    max-width: 50px;
}

h1 {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

#todayDate {
    justify-self: center;
    grid-column: 2/3;
    text-align: center;
    font-size: 1em;
    background-color: #c1c1c1;
    padding-bottom: 1em;
    margin-bottom: 0.1em;
    padding-top: 1em;
}

.logo-footer {
    grid-column: 1/5;
    justify-self: center;
    max-width: 75px;
    max-height: 75px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1em;
}

p {
    /* display: inline; */
    text-align: center;
}


footer {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #c1c1c1;
    margin-top: 0.5em;
}

.email {
    grid-column: 1/5;
    text-align: center;
}

.email a {
    text-decoration: none;
    
}

h3 {
    font-size: 20px;
    text-align: center;
    display: block;
}
h4 {
    font-size: 20px;
    text-align: center;
    display: inline;
}
.address {
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.center {
    grid-column: 1/5;
    padding-top: 1.5em;
    text-align: center;
}

.logo-h1 {
    display: flex;
}

.social1 img, .social2 img {
    max-width: 2em;
}

.socials {
    grid-column: 3;
    justify-self: end;
    background-color: #c1c1c1;

}

.weather {
    text-align: center;
    border: solid 1px;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0.5em;
}
.cloud {
    max-width: 200px;
}
.event { 
    grid-column: 1/2;
    grid-row: 2/3 ;
    text-align: center;
    border: solid 1px;
    padding-left: 1em; 
    padding-top: 1em;
    margin: 0.5em;
}
.bike {
    max-width: 200px;
}

main {
    font-family: 'Roboto', sans-serif;
}
        
.light3 {
        display: none;
}

.join {
        display: none;
}
.light {
        padding-bottom: 1em;
}

.join {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: center;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;
}
    
.hero {
        grid-column: 2/4;
        grid-row: 1/3;
        text-align: center;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;
}
.poky1 {
    max-width: 200px;
}
    
.newrelease {
        grid-column:2/4;
        grid-row: 3/4;
        text-align: center;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;
}

.light {
        grid-column:4/5;
        grid-row: 1/4;
        text-align: center;
        border: solid 1px #ffffff;
        margin: 0.5em;
        
}

.light1 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-top:1em;
        margin-left: .5em;
        margin-right: .5em;
}

.light2 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-left: .5em;
        margin-right: .5em;
}

.light3 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-bottom: 1em;
        margin-left: .5em;
        margin-right: .5em;
}

.date {
        display: inline;
}

.copy {
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 0.5em;
}
