@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

header {
    display: flex;
    background-color: #c1c1c1;
    flex-wrap: wrap;
}
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 2em;
}

nav ul li a {
display: block;
padding: .8rem 2vw;
text-decoration: none;
color: #282A6D;
border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2) ;
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul{display: none;}
nav ul.open {display:block;}

#burgerbutton span:nth-child(1) {display: block;}
#burgerbutton span:nth-child(2) {display: none;}

#burgerbutton.open span:nth-child(1) {display: none;}
#burgerbutton.open span:nth-child(2) {display: block;}


.logo {
        max-width: 50px;
}
h1 {
    text-align: center;
    font-size: 1em;
}
footer {
    text-align: center;
    background-color: #c1c1c1;
    margin-top: 0.5em;
}
#todayDate {
    text-align: center;
    font-size: 1em;
    background-color: #c1c1c1;
    padding-bottom: 1em;
    margin-bottom: 0.1em;

}
.logo-footer {
    max-width: 75px;
    max-height: 75px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    
}
p {
    display: inline;
    
}
h3{
    display: inline;
}
.footer-flex {
    justify-content: center;
}
.email {
    text-align: right;
    
}
.email a {
    text-decoration: none;
}
h3{
    font-size: 15px;
}
.address {
    text-align: left;
    width: 100%;
    margin-top: 0;
}
.center {
    margin-right: 3em;
    margin-left: 1.5em;
}
.social1 {
    text-align: center;
    
}
.social2 {
    text-align: center;
}
.social1 img, .social2 img {
    max-width: 2em;
}
.socials {
    text-align: center;
    background-color: #c1c1c1;
    padding-bottom: 0.5em;

}
.weather {
    
    background-color: #c1c1c1;
    border: solid 1px;
    padding-left: 1em;
    padding-top: 1em;
    margin: 0.5em;}
    .event{ 
        grid-column: 1/2;
        grid-row: 2/3 ;
        background-color: #c1c1c1;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;

    }
        
        .light3 {
            display: none;
        }
        .join {
            display: none;
        }
        .light {
            padding-bottom: 1em;
        }


    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        background-color: #c1c1c1;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;
    }
    
    
    .hero {
        grid-column: 2/4;
        grid-row: 1/3;
        background-color: #c1c1c1;
        border: solid 1px;
        padding-left: 1em;
        padding-top: 1em;
        margin: 0.5em;
    }
    
    
        .newrelease{
            grid-column:2/4;
            grid-row: 3/4;
            background-color: #c1c1c1;
            border: solid 1px;
            padding-left: 1em;
            padding-top: 1em;
            margin: 0.5em;
        }
    .light {
        grid-column:4/5;
        grid-row: 1/4;
        background-color: #c1c1c1;
        border: solid 1px;
        margin: 0.5em;
        
    }
    .light1 {
        height: 4em;
        padding-left: 1em;
        padding-top: 1em;
        border: solid black 1px;
        margin-top:1em;
        margin-left: .5em;
        margin-right: .5em;
    }
    .light2 {
        height: 4em;
        padding-left: 1em;
        padding-top: 1em;
        border: solid black 1px;
        margin-left: .5em;
        margin-right: .5em;
    }
    .light3 {
        height: 4em;
        padding-left: 1em;
        padding-top: 1em;
        border: solid black 1px;
        margin-bottom: 1em;
        margin-left: .5em;
        margin-right: .5em;
    
    }
    .date {
        display: inline;
    }

nav {
    width: 100%;
}