@media only screen and (min-width: 768px) {

nav button {display: block;}

header {
    justify-content: center;
    
}

nav ul #primarynav {
    display: flex;
    justify-content: center;
    
}
nav ul {
    display: none;
}

nav ul li a {
    border: none;
}

h1 {
    font-size: 1.5em;
}
.straw {
    background-position: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
}

.hero {
    grid-column: 1/4;
    grid-row: 1/2;
}

.hero a {
    max-width: 50%;
}

.view {
    display: none;
}

.light{
    grid-column:1/4 ;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    padding: 0;
}

.discover-img {
    grid-column:1/4 ;
    grid-row: 3/4;
    padding: 0;
}

.discover-img {
    grid-column:1/4 ;
    grid-row: 3/4;
    padding: 0;
}

.light1 {
    width: 100%;
    margin: 1em;
    margin-right: 0.2em;
}

.light2 {
    width: 100%;
    margin: 1em;
    margin-left: 0.2em;
}

.newrelease {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
}

.light3 {
    display: none;
}

.join {
    display: block;
    grid-column: 1/4;
    grid-row: 4/5;
}

.event {
    grid-column: 1/3;
    grid-row: 5/6;
}

.weather {
    grid-column: 3/4;
    grid-row: 5/6;
}

.email {
    grid-column: 3/4;
    text-align: right;
}

.center {
    grid-column: 2/3;
    text-align: left;
}

.logo-footer {
    grid-column: 1/2;
    justify-self: end;
}

.copy {
    padding-top: 1em;
}

.address {
    text-align: left;
    width: 100%;
    margin-top: 0;
}

.discover-img .image-container {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.3);
  transition: box-shadow 0.3s;
}

.discover-img .image-container :hover {
    box-shadow: 0 0 35px rgba(255, 255, 0, 0.8);
} 

}