
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=PT+Serif&display=swap');

body {
    grid-template-columns: 1fr;
    font-family: 'Castoro Titling', cursive;
    }
header {
    background-color: #0a2032;
    grid-column: 1/2;
    margin: 1em 1em 0em 1em;
    padding: 1em;
}
h1 {
    color: #ffffff;
    text-align: center;
}
h2 {
    color: #ffffff;
    text-align: center;
}
h3 {
    background-color: #3a4958;
    margin: 0;
    border-radius: 1.0em 1.0em 0 0 ;
    color: #ffffff;
    padding: 1em;
}
h4 {
    padding-left: 1em;
}
main {
    margin: 1em 1em 0em 1em;
}

section {
    background-color: #eeeeee;
    border-radius: 1.29em 1.29em 0 0 ;
    margin: 1em;
    border: 1px solid #000000;
}
.column_1 {
    grid-column: 1/2;
}
.column_2{
    grid-column: 1/2;
}
.column_3 {
    grid-column: 1/2;
}

.photo_left {
    max-width: 100%;
}
.photo_middle {
    max-width: 100%;
}
.photo_right {
    max-width: 100%;
}
p {
    padding: 1em;
    font-family: 'PT Serif', serif;
}
footer {
    grid-column: 1/2;
    background-color: #0a2032;
    color: #ffffff;
    margin: 1em 1em 0em 1em;
    text-align: center;
    padding: 1em;
}