@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Roboto&display=swap');

#banner {
    text-align: center;
    background-color: yellowgreen;
    padding: 1em;
    display: none;

}
.event, .weather, .join, .hero, .newrelease, .light, .discover-img {
    background-color: #282A6D;
    color: #c1c1c1;
}
.discover-img {
    overflow: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto
}

nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #000000;
}

nav {
    width: 100%;
    justify-self: center;
    grid-column: 2/3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 2em;
    padding-top: 2em;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #282A6D;
    border-top: 1px solid rgba(0,0,0,0.5);
}
.logo-h1 {
    justify-self: center;
    grid-column: 2/3;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2) ;
    color: #000000;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul{display: none;}
nav ul.open {display:block;}

#burgerbutton span:nth-child(1) {display: block;}
#burgerbutton span:nth-child(2) {display: none;}

#burgerbutton.open span:nth-child(1) {display: none;}
#burgerbutton.open span:nth-child(2) {display: block;}


.logo {
    max-width: 50px;
}

h1 {
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

#todayDate {
    justify-self: center;
    grid-column: 2/3;
    text-align: center;
    font-size: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.1em;
    padding-top: 1em;
}

.logo-footer {
    grid-column: 1/5;
    justify-self: center;
    max-width: 75px;
    max-height: 75px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-right: 1em;
}

p {
    /* display: inline; */
    text-align: center;
}
.newrelease p {
    padding-left: 1em;
    padding-right: 1em;
}

footer {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 0.5em;
}

.email {
    grid-column: 1/5;
    text-align: center;
}

.email a {
    text-decoration: none;
    
}

h3 {
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 1em;
}

.join {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
    border: solid 1px;
    margin: 0.5em;
    
}

.join-button {
    background-color: green;
    border-radius: 2em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.join a, .hero a {
    text-decoration: none;
    color: #c1c1c1;
}

h4 {
    font-size: 20px;
    text-align: center;
    display: inline;
}

.address {
    text-align: center;
    width: 100%;
    margin-top: 0;
}

.center {
    grid-column: 1/5;
    padding-top: 1.5em;
    text-align: center;
}

.logo-h1 {
    display: flex;
}

.social1 img, .social2 img {
    max-width: 2em;
}

.socials {
    grid-column: 3;
    justify-self: end;
}

.weather {
    text-align: center;
    border: solid 1px;
    margin: 0.5em;
}

.cloud {
    max-width: 100px;
}

.event { 
    grid-column: 1/2;
    grid-row: 2/3 ;
    text-align: center;
    border: solid 1px;
    margin: 0.5em;
}

.bike {
    max-width: 200px;
}

main {
    font-family: 'Roboto', sans-serif;
}
        
.light3 {
        display: none;
}

.join {
        display: none;
}

.light {
        padding-bottom: 1em;
}

.hero {
        grid-column: 2/4;
        grid-row: 1/3;
        text-align: center;
        border: solid 1px;
        margin: 0.5em;
        
}

.hero a {
    max-width: 100%;
}

.newrelease {
        grid-column:2/4;
        grid-row: 3/4;
        text-align: center;
        border: solid 1px;
        margin: 0.5em;
}

.light, .discover-img {
        grid-column:4/5;
        grid-row: 1/4;
        text-align: center;
        border: solid 1px #ffffff;
        margin: 0.5em;
        
}

.light1 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-top:1em;
        margin-left: .5em;
        margin-right: .5em;
}

.spot1 {
    width: 100px;
}

.light2 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-left: .5em;
        margin-right: .5em;
}

.spot2 {
    width: 100px;
}

.light3 {
        padding-left: 1em;
        padding-top: 1em;
        border: solid #ffffff 1px;
        margin-bottom: 1em;
        margin-left: .5em;
        margin-right: .5em;
}

.spot3 {
    width: 150px;
}

.date {
        display: inline;
}

.copy {
    grid-column: 1/5;
    text-align: center;
    padding-bottom: 0.5em;
}
img {
    overflow: hidden;
}
.hero-img {
    width: 100%;
}

.image-container {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
  }
  .image-container p {
    display: block;
  }
  .image-container img {
    height: auto;
    width: 100%;
    display: block;
    filter: blur(0em);
    transition: filter 1.5s;
    z-index: -3;
  }
  
  .image-container img[data-src] {
    filter: blur(0.5em);
  }
.max-width {
    max-width: 100%;
    display: block;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.tempgraph{
    max-width: 250px;
}
.population {
    max-width: 250px;
}
/*--------Form page CSS---------*/

label input, select {
    display: block;
    min-height: 1.5rem;
    max-height: 2rem;
    border-radius: 7px;
    /* align-items: left; */
    margin: auto;
}
select {
    min-height: 1.8rem;
}
form {
    margin: auto;
    text-align: center;
    border-radius: 7px;
    /* align-items: left; */
    display: inline-block;
}
.submitBtn {
    background-color: green;
    color:#c1c1b5;
    border-radius: 2em;
    max-width:10em;
    margin: auto;
    margin-top: 0.8em;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 2em;
    
}
form textarea {
    margin-top: 1em;
    min-height: 4rem;
    min-width: 20em;
    border-radius: 7px;
    display: inline;
}

.non {
    max-width: 7rem;
}
.bronze{
max-width: 6.5rem;
}
/*------to show red when field is not valid------*/
form label.member input:required {
    border-left: red solid 6px;
}
/*------to show green when filed is valid-----*/
form label.member input:required:valid {
    border-left:green solid 6px;
}
.member-heading, .why-join {
    margin: 0;
    padding: 0;
    margin-top: 1em;
}
/*-------Directory page CSS -----------*/
.cards-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); grid-gap:5px;
    
}
.cards-list {
    display: flex;
    flex-direction: column;
  } 
.cards-list .card .card-icon {
    display: none;
}

.card-icon {
    margin: 0;
    height: 100px;
    width: auto;
    padding-top: 5px;
    /* display: block; */

}
.card {
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    margin: 10px;
}

.card-name {
    font-size: 23px;
    padding: 5px;
}

.card-website{
    padding: 5px;
}

.directory-buttons {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.cards-list .card .card-phone, .cards-list .card .card-address, .cards-list .card .card-website, .cards-list .card .card-name {
    padding: 1em;
    text-align: center;
    margin: auto;
}
.cards-list .card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2 {
    text-align: center;
}